/.git/
/.idea/
/venv/
/apex/
/cache/
/docker-compose.yml
/dostoevsky_doesnt_write_it/
/rugpt3xl_custom/
/runs/
/ru_gpts/
/data/*.txt
/_cache_*
/data/_cache_*
/pretrain_*.py
/generate_*.py
__pycache__
